--- block/Kconfig.iosched
+++ block/Kconfig.iosched
@@ -87,6 +97,11 @@
 	default "deadline" if DEFAULT_DEADLINE
 	default "cfq" if DEFAULT_CFQ
 	default "noop" if DEFAULT_NOOP
+<<<<<<< HEAD
+=======
+	default "fiops" if DEFAULT_FIOPS
+	default "row" if DEFAULT_ROW
+>>>>>>> f865e85... Added Qualcomm ROW I/O Scheduler
 
 endmenu
 
